/** @format */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    197deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 50%,
    rgba(9, 63, 127, 1) 0%,
    rgba(14, 174, 207, 1) 80%
  );
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz_container {
  background: white;
  height: 240px;
  width: 430px;
  border-radius: 5px;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  display: none;
  transition: all 0.2s ease;
  transition-delay: all 0.2s ease;
}

.quiz_container.active {
  display: flex;
}

.quiz_container h4 {
  padding: 10px;
}

.quiz_container ul li {
  list-style: none;
  width: 100%;
  margin: 10px 0;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
}

ul li label {
  cursor: pointer;
}

ul li input {
  cursor: pointer;
}

.quiz_container button {
  width: inherit;
  height: 44px;
  background: rgba(14, 174, 207, 1);
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.startBtn {
  height: 37px;
  width: 150px;
  background: rgba(14, 174, 207, 1);
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-size: 13px;
  border-radius: 4px;
  transition: all 0.3s ease;
  transition-delay: all 0.2s ease;
}

.startBtn.hidden {
  display: none;
}

.startBtn:hover {
  background: rgb(13, 144, 170);
}

.result_box {
  background: white;
  width: 290px;
  display: none;
  border-radius: 4px;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.result_box.active {
  display: flex;
}

.result_box p {
  font-weight: 500;
  padding: 10px;
}

.result_box button {
  height: 37px;
  width: inherit;
  background: rgba(14, 174, 207, 1);
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-size: 13px;
  transition: all 0.3s;
}

.result_box button:hover {
  background: rgb(13, 144, 170);
}
